<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap.4.6.0.css -->
    <link rel="stylesheet" href="https://dan.org.in/assets/lib/bootstrap/bootstrap.4.6.0.css">

</head>

<body>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Navbar</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>


    <!-- jquery.3.5.1.js -->
    <script src="https://dan.org.in/assets/lib/jquery/jquery.3.5.1.js"></script>

    <!-- Bootstrap.4.6.0.js -->
    <script src="https://dan.org.in/assets/lib/bootstrap/bootstrap.4.6.0.js"></script>

</body>

</html>