<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Dan</title>

  <!-- Favicons -->
  <link rel="icon" href="../../assets/img/logo-favicon.svg" />

  <!-- dan.min.css -->
  <link rel="stylesheet" href="../../assets/lib/dan/danui.css">

  <style>

  </style>
</head>

<body>

  <section class="dan-banner-1">
    <div class="container pt-5">
      <div class="row justify-content-center py-14 bg-cover"
        style="background-image: url(../../assets/img/covers/3.jpg);">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <h1 class="mb-0 text-center text-white"> We believe we can all make a stylish. </h1>
        </div>
      </div>
    </div>
  </section>

</body>


</html>