<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Dan</title>

  <!-- Favicons -->
  <link rel="icon" href="https://dan.org.in/assets/img/logo-favicon.svg" />


  <!-- Bootstrap.4.6.0.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/bootstrap/bootstrap.4.6.0.css">
  <!-- dan.min.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/dan/dan.min.css">


  <style>

  </style>
</head>

<body>

  <section class="dan-input-1 py-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="row justify-content-center mt-7">
            <div class="col-12 text-center">
              <p class="font-size-sm text-muted">
                Showing 16 of 24 products
              </p>
              <div class="progress mx-auto mb-7" style="max-width: 250px;">
                <div class="progress-bar bg-dark" role="progressbar" style="width: 66%" aria-valuenow="66"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>