<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Dan</title>

  <!-- Favicons -->
  <link rel="icon" href="https://dan.org.in/assets/img/logo-favicon.svg" />


  <!-- Bootstrap.4.6.0.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/bootstrap/bootstrap.4.6.0.css">
  <!-- dan.min.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/dan/dan.min.css">


  <style>

  </style>
</head>

<body>

  <section class="dan-form-2 py-5">
    <div class="container">
      <form class="row align-items-center justify-content-center text-center">
        <div class="col-md-6">
          <div class="form-group mb-md-0">
            <input class="form-control form-control-dark" type="email" placeholder="Enter Email *">
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-dark" type="submit">
            Notify me!
          </button>
        </div>
      </form>
    </div>
  </section>

</body>

</html>