<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Dan</title>

  <!-- Favicons -->
  <link rel="icon" href="https://dan.org.in/assets/img/logo-favicon.svg" />


  <!-- Bootstrap.4.6.0.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/bootstrap/bootstrap.4.6.0.css">

  <!-- flickity.2.2.1.min.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/flickity/flickity.min.css">

  <!-- dan.min.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/dan/dan.min.css">
  <style>

  </style>
</head>

<body>

  <section class="dan-slider-8 py-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="flickity-buttons-lg flickity-buttons-offset px-lg-12" data-flickity='{"prevNextButtons": true}'>
            <div class="col pt-3 pb-7" style="max-width: 229px;">
              <a class="card shadow-hover" href="#">
                <img src="https://dan.org.in/assets/img/products/50.jpg" alt="..." class="card-img-top">
                <div class="card-body font-weight-bold text-center">
                  <div class="text-body">Cropped cotton Top</div>
                  <div class="text-muted">$29.00</div>
                </div>
              </a>
            </div>
            <div class="col pt-3 pb-7" style="max-width: 229px;">
              <a class="card shadow-hover" href="#">
                <img src="https://dan.org.in/assets/img/products/51.jpg" alt="..." class="card-img-top">
                <div class="card-body font-weight-bold text-center">
                  <div class="text-body">Cropped cotton Top</div>
                  <div class="text-muted">$29.00</div>
                </div>
              </a>
            </div>
            <div class="col pt-3 pb-7" style="max-width: 229px;">
              <a class="card shadow-hover" href="#">
                <img src="https://dan.org.in/assets/img/products/52.jpg" alt="..." class="card-img-top">
                <div class="card-body font-weight-bold text-center">
                  <div class="text-body">Cropped cotton Top</div>
                  <div class="text-muted">$29.00</div>
                </div>
              </a>
            </div>
            <div class="col pt-3 pb-7" style="max-width: 229px;">
              <a class="card shadow-hover" href="#">
                <img src="https://dan.org.in/assets/img/products/53.jpg" alt="..." class="card-img-top">
                <div class="card-body font-weight-bold text-center">
                  <div class="text-body">Cropped cotton Top</div>
                  <div class="text-muted">$29.00</div>
                </div>
              </a>
            </div>
            <div class="col pt-3 pb-7" style="max-width: 229px;">
              <a class="card shadow-hover" href="#">
                <img src="https://dan.org.in/assets/img/products/127.jpg" alt="..." class="card-img-top">
                <div class="card-body font-weight-bold text-center">
                  <div class="text-body">Suede Sandals</div>
                  <div class="text-muted">$69.00</div>
                </div>
              </a>
            </div>
            <div class="col pt-3 pb-7" style="max-width: 229px;">
              <a class="card shadow-hover" href="#">
                <img src="https://dan.org.in/assets/img/products/128.jpg" alt="..." class="card-img-top">
                <div class="card-body font-weight-bold text-center">
                  <div class="text-body">Basic Polo T-Shirt</div>
                  <div class="text-muted">$22.00</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

<!-- flickity.2.2.1.pkgd.min.js -->
<script src="https://dan.org.in/assets/lib/flickity/flickity.pkgd.min.js"></script>

</html>