<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Dan</title>

  <!-- Favicons -->
  <link rel="icon" href="https://dan.org.in/assets/img/logo-favicon.svg" />


  <!-- Bootstrap.4.6.0.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/bootstrap/bootstrap.4.6.0.css">

  <!-- flickity.2.2.1.min.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/flickity/flickity.min.css">

  <!-- dan.min.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/dan/dan.min.css">
  <style>

  </style>
</head>

<body>

  <section class="dan-slider-5 py-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="flickity-buttons-lg flickity-buttons-offset" data-flickity='{"prevNextButtons": true}'>
            <div class="col" style="max-width: 200px;">
              <div class="card">
                <img class="card-img-top" src="https://dan.org.in/assets/img/products/25.jpg" alt="...">
                <div class="card-body py-4 px-0 text-center">
                  <a class="stretched-link text-body" href="#">
                    <h6>Dresses <small>(58)</small></h6>
                  </a>
                </div>
              </div>
            </div>
            <div class="col" style="max-width: 200px;">
              <div class="card">
                <img class="card-img-top" src="https://dan.org.in/assets/img/products/26.jpg" alt="...">
                <div class="card-body py-4 px-0 text-center">
                  <a class="stretched-link text-body" href="#">
                    <h6>Tops <small>(35)</small></h6>
                  </a>
                </div>
              </div>
            </div>
            <div class="col" style="max-width: 200px;">
              <div class="card">
                <img class="card-img-top" src="https://dan.org.in/assets/img/products/27.jpg" alt="...">
                <div class="card-body py-4 px-0 text-center">
                  <a class="stretched-link text-body" href="#">
                    <h6>T-shirts <small>(27)</small></h6>
                  </a>
                </div>
              </div>
            </div>
            <div class="col" style="max-width: 200px;">
              <div class="card">
                <img class="card-img-top" src="https://dan.org.in/assets/img/products/28.jpg" alt="...">
                <div class="card-body py-4 px-0 text-center">
                  <a class="stretched-link text-body" href="#">
                    <h6>Shoes <small>(64)</small></h6>
                  </a>
                </div>
              </div>
            </div>
            <div class="col" style="max-width: 200px;">
              <div class="card">
                <img class="card-img-top" src="https://dan.org.in/assets/img/products/29.jpg" alt="...">
                <div class="card-body py-4 px-0 text-center">
                  <a class="stretched-link text-body" href="#">
                    <h6>Jeans <small>(12)</small></h6>
                  </a>
                </div>
              </div>
            </div>
            <div class="col" style="max-width: 200px;">
              <div class="card">
                <img class="card-img-top" src="https://dan.org.in/assets/img/products/125.jpg" alt="...">
                <div class="card-body py-4 px-0 text-center">
                  <a class="stretched-link text-body" href="#">
                    <h6>Sweatshirts <small>(11)</small></h6>
                  </a>
                </div>
              </div>
            </div>
            <div class="col" style="max-width: 200px;">
              <div class="card">
                <img class="card-img-top" src="https://dan.org.in/assets/img/products/126.jpg" alt="...">
                <div class="card-body py-4 px-0 text-center">
                  <a class="stretched-link text-body" href="#">
                    <h6>Jackets <small>(9)</small></h6>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

<!-- flickity.2.2.1.pkgd.min.js -->
<script src="https://dan.org.in/assets/lib/flickity/flickity.pkgd.min.js"></script>

</html>