<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Dan</title>

  <!-- Favicons -->
  <link rel="icon" href="https://dan.org.in/assets/img/logo-favicon.svg" />


  <!-- Bootstrap.4.6.0.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/bootstrap/bootstrap.4.6.0.css">

  <!-- flickity.2.2.1.min.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/flickity/flickity.min.css">

  <!-- dan.min.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/dan/dan.min.css">
  <style>

  </style>
</head>

<body>

  <section class="dan-slider-6 py-5">
    <div class="flickity-page-dots-progress" data-flickity='{"pageDots": true}'>
      <div class="col" style="max-width: 300px;">
        <div class="card">
          <div class="card-img">
            <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
              <i class="fe fe-heart"></i>
            </button>
            <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
              <i class="fe fe-eye mr-2 mb-1"></i> Quick View
            </button>
            <img class="card-img-top" src="https://dan.org.in/assets/img/products/6.jpg" alt="...">
          </div>
          <div class="card-body font-weight-bold text-center">
            <a class="text-body" href="#">Cotton floral print Dress</a> <br>
            <span class="text-muted">$40.00</span>
          </div>
        </div>
      </div>
      <div class="col" style="max-width: 300px;">
        <div class="card">
          <div class="card-img">
            <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
              <i class="fe fe-heart"></i>
            </button>
            <span class="badge badge-dark card-badge card-badge-left text-uppercase">
              Sale
            </span>
            <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
              <i class="fe fe-eye mr-2 mb-1"></i> Quick View
            </button>
            <img class="card-img-top" src="https://dan.org.in/assets/img/products/10.jpg" alt="...">
          </div>
          <div class="card-body font-weight-bold text-center">
            <a class="text-body" href="#">Suede cross body Bag</a> <br>
            <span class="font-size-xs text-gray-350 text-decoration-line-through">$85.00</span>
            <span class="text-primary">$49.00</span>
          </div>
        </div>
      </div>
      <div class="col" style="max-width: 300px;">
        <div class="card">
          <div class="card-img">
            <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
              <i class="fe fe-heart"></i>
            </button>
            <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
              <i class="fe fe-eye mr-2 mb-1"></i> Quick View
            </button>
            <img class="card-img-top" src="https://dan.org.in/assets/img/products/32.jpg" alt="...">
          </div>
          <div class="card-body font-weight-bold text-center">
            <a class="text-body" href="#">Cotton leaf print Shirt</a> <br>
            <span class="text-muted">$65.00</span>
          </div>
        </div>
      </div>
      <div class="col" style="max-width: 300px;">
        <div class="card">
          <div class="card-img">
            <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
              <i class="fe fe-heart"></i>
            </button>
            <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
              <i class="fe fe-eye mr-2 mb-1"></i> Quick View
            </button>
            <img class="card-img-top" src="https://dan.org.in/assets/img/products/7.jpg" alt="...">
          </div>
          <div class="card-body font-weight-bold text-center">
            <a class="text-body" href="#">Leather Sneakers</a> <br>
            <a class="text-primary" href="#">Select Options</a>
          </div>
        </div>
      </div>
      <div class="col" style="max-width: 300px;">
        <div class="card">
          <div class="card-img">
            <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
              <i class="fe fe-heart"></i>
            </button>
            <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
              <i class="fe fe-eye mr-2 mb-1"></i> Quick View
            </button>
            <img class="card-img-top" src="https://dan.org.in/assets/img/products/11.jpg" alt="...">
          </div>
          <div class="card-body font-weight-bold text-center">
            <a class="text-body" href="#">Another fine dress</a> <br>
            <span class="text-muted">$99.00</span>
          </div>
        </div>
      </div>
      <div class="col" style="max-width: 300px;">
        <div class="card">
          <div class="card-img">
            <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
              <i class="fe fe-heart"></i>
            </button>
            <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
              <i class="fe fe-eye mr-2 mb-1"></i> Quick View
            </button>
            <img class="card-img-top" src="https://dan.org.in/assets/img/products/33.jpg" alt="...">
          </div>
          <div class="card-body font-weight-bold text-center">
            <a class="text-body" href="#">Baseball Cap</a> <br>
            <span class="text-muted">$10.00</span>
          </div>
        </div>
      </div>
      <div class="col" style="max-width: 300px;">
        <div class="card">
          <div class="card-img">
            <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
              <i class="fe fe-heart"></i>
            </button>
            <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
              <i class="fe fe-eye mr-2 mb-1"></i> Quick View
            </button>
            <img class="card-img-top" src="https://dan.org.in/assets/img/products/49.jpg" alt="...">
          </div>
          <div class="card-body font-weight-bold text-center">
            <a class="text-body" href="#">Leather sneakers</a> <br>
            <span class="text-muted">$19.00</span>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

<!-- flickity.2.2.1.pkgd.min.js -->
<script src="https://dan.org.in/assets/lib/flickity/flickity.pkgd.min.js"></script>

</html>