<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Dan</title>

  <!-- Favicons -->
  <link rel="icon" href="https://dan.org.in/assets/img/logo-favicon.svg" />


  <!-- Bootstrap.4.6.0.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/bootstrap/bootstrap.4.6.0.css">

  <!-- flickity.2.2.1.min.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/flickity/flickity.min.css">

  <!-- dan.min.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/dan/dan.min.css">
  <style>

  </style>
</head>

<body>

  <section class="dan-slider-7 py-5">
    <div class="container">
      <div class="row position-relative align-items-center">
        <div class="col-md-7 col-lg-5 offset-lg-1">
          <div class="d-none d-md-block"
            data-flickity='{"fade": true, "asNavFor": "#sliderArrivals", "draggable": false}'>
            <div class="w-100">
              <img src="https://dan.org.in/assets/img/products/34.jpg" alt="..." class="img-fluid">
            </div>
            <div class="w-100">
              <img src="https://dan.org.in/assets/img/products/136.jpg" alt="..." class="img-fluid">
            </div>
            <div class="w-100">
              <img src="https://dan.org.in/assets/img/products/138.jpg" alt="..." class="img-fluid">
            </div>
          </div>
        </div>
        <div class="col-md-5 col-lg-4 offset-lg-1 position-static">
          <h6 class="heading-xxs text-center text-gray-400">
            Perfect summer
          </h6>
          <h3 class="mb-10 text-center">
            Summer Days Look
          </h3>
          <div class="position-static flickity-buttons-lg" id="sliderArrivals"
            data-flickity='{"pageDots": true, "prevNextButtons": true}'>
            <div class="col-12">
              <div class="card">
                <div class="badge badge-dark card-badge">
                  <span class="text-uppercase">New</span>
                </div>
                <div class="card-img">
                  <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right"
                    data-toggle="button">
                    <i class="fe fe-heart"></i>
                  </button>
                  <img class="card-img-top" src="https://dan.org.in/assets/img/products/35.jpg" alt="...">
                </div>
                <div class="card-body font-weight-bold text-center">
                  <a class="font-size-lg text-body" href="#">Textured cotton Top</a>
                  <div>
                    <span class="text-gray-350 text-decoration-line-through">$90.00</span>
                    <span class="font-size-lg text-primary">$69.00</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="card">
                <div class="card-img">
                  <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right"
                    data-toggle="button">
                    <i class="fe fe-heart"></i>
                  </button>
                  <img class="card-img-top" src="https://dan.org.in/assets/img/products/137.jpg" alt="...">
                </div>
                <div class="card-body font-weight-bold text-center">
                  <a class="font-size-lg text-body" href="#">Animal crossbody Bag</a>
                  <div>
                    <span class="font-size-lg text-muted">$59.00</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="card">
                <div class="card-img">
                  <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right"
                    data-toggle="button">
                    <i class="fe fe-heart"></i>
                  </button>
                  <img class="card-img-top" src="https://dan.org.in/assets/img/products/139.jpg" alt="...">
                </div>
                <div class="card-body font-weight-bold text-center">
                  <a class="font-size-lg text-body" href="#">Jacket with Pockets</a>
                  <div>
                    <span class="font-size-lg text-muted">$70.00</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

<!-- flickity.2.2.1.pkgd.min.js -->
<script src="https://dan.org.in/assets/lib/flickity/flickity.pkgd.min.js"></script>

</html>