<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Dan</title>

  <!-- Favicons -->
  <link rel="icon" href="https://dan.org.in/assets/img/logo-favicon.svg" />


  <!-- Bootstrap.4.6.0.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/bootstrap/bootstrap.4.6.0.css">

  <!-- flickity.2.2.1.min.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/flickity/flickity.min.css">
  <!-- flickity.2.2.1.pkgd.min.js -->
  <script src="https://dan.org.in/assets/lib/flickity/flickity.pkgd.min.js"></script>

  <!-- dan.min.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/dan/dan.min.css">
  <style>

  </style>
</head>

<body>

  <section class="dan-slider-1 py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h6 class="heading-xxs mb-3 text-gray-400">
            What buyers say
          </h6>
          <h2 class="mb-10">
            Customers Reviews
          </h2>
          <div class="flickity-buttons-lg flickity-buttons-offset px-lg-12"
            data-flickity='{"prevNextButtons": true, "pageDots": true}'>
            <blockquote class="blockquote col-12">
              <p class="mb-6">
                Given wherein. Doesn't called also and air sea to make first subdue
                beginning. Appear seasons the it after whose beginning. Hath can't good life. They're
                multiply made give divided open, be likeness Cattle be have. Life tree darkness. She'd
                very.
              </p>
              <footer class="blockquote-footer">
                Darrell Baker, <time datetime="2019-05-18">18 May
                  2019</time>
              </footer>
            </blockquote>
            <blockquote class="blockquote col-12">
              <p class="mb-6">
                Given wherein. Doesn't called also and air sea to make first subdue
                beginning. Appear seasons the it after whose beginning. Hath can't good life. They're
                multiply made give divided open, be likeness Cattle be have. Life tree darkness. She'd
                very.
              </p>
              <footer class="blockquote-footer">
                Darrell Baker, <time datetime="2019-05-18">18 May
                  2019</time>
              </footer>
            </blockquote>
            <blockquote class="blockquote col-12">
              <p class="mb-6">
                Given wherein. Doesn't called also and air sea to make first subdue
                beginning. Appear seasons the it after whose beginning. Hath can't good life. They're
                multiply made give divided open, be likeness Cattle be have. Life tree darkness. She'd
                very.
              </p>
              <footer class="blockquote-footer">
                Darrell Baker, <time datetime="2019-05-18">18 May
                  2019</time>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>