<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Dan</title>

  <!-- Favicons -->
  <link rel="icon" href="https://dan.org.in/assets/img/logo-favicon.svg" />


  <!-- Bootstrap.4.6.0.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/bootstrap/bootstrap.4.6.0.css">

  <!-- flickity.2.2.1.min.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/flickity/flickity.min.css">
  <!-- flickity.2.2.1.pkgd.min.js -->
  <script src="https://dan.org.in/assets/lib/flickity/flickity.pkgd.min.js"></script>

  <!-- dan.min.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/dan/dan.min.css">
  <style>

  </style>
</head>

<body>

  <section class="dan-slider-4 py-5">
    <div data-flickity='{"prevNextButtons": true, "fade": true}'>
      <div class="w-100 bg-cover" style="background-image: url(https://dan.org.in/assets/img/covers/5.jpg);">
        <div class="container d-flex flex-column">
          <div class="row align-items-center py-12" style="min-height: 550px;">
            <div class="col-12 col-md-6 col-lg-5 col-xl-4 offset-md-1">
              <h1>Summer Sale</h1>
              <h2 class="display-1 text-primary">-70%</h2>
              <h5 class="mt-n4 mb-8">with promo code CN67EW*</h5>
              <a class="btn btn-dark" href="#">
                Shop Now <i class="fe fe-arrow-right ml-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100 bg-cover" style="background-image: url(https://dan.org.in/assets/img/covers/23.jpg);">
        <div class="container d-flex flex-column">
          <div class="row align-items-center justify-content-end py-12" style="min-height: 550px;">
            <div class="col-12 col-md-6 col-lg-5 col-xl-4 offset-md-n1">
              <h1 class="mb-5">Summer Collection</h1>
              <p class="mb-8 font-size-lg text-gray-500">
                So called give, one whales tree seas dry place own
                day, winged tree created spirit.
              </p>
              <a class="btn btn-dark" href="#">
                Shop Now <i class="fe fe-arrow-right ml-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100 bg-cover" style="background-image: url(https://dan.org.in/assets/img/covers/16.jpg);">
        <div class="bg-dark-20">
          <div class="container d-flex flex-column">
            <div class="row align-items-center justify-content-end" style="min-height: 550px;">
              <div class="col-12 text-center text-white">
                <h4 class="mb-0">Summer Styles</h4>
                <h1 class="display-1">
                  50% OFF
                </h1>
                <p class="mb-0">
                  <a href="#" class="link-underline text-reset mx-4 my-4">Shop Women</a>
                  <a href="#" class="link-underline text-reset mx-4 my-4">Shop Men</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>