<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Dan</title>

  <!-- Favicons -->
  <link rel="icon" href="https://dan.org.in/assets/img/logo-favicon.svg" />


  <!-- Bootstrap.4.6.0.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/bootstrap/bootstrap.4.6.0.css">

  <!-- flickity.2.2.1.min.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/flickity/flickity.min.css">

  <!-- dan.min.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/dan/dan.min.css">
  <style>

  </style>
</head>

<body>

  <section class="dan-slider-8 py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="badge badge-primary card-badge text-uppercase">
              Sale
            </div>
            <div class="mb-4" data-flickity='{"draggable": false, "fade": true}' id="productSlider">
              <img src="https://dan.org.in/assets/img/products/7.jpg" alt="..." class="card-img-top">
              <img src="https://dan.org.in/assets/img/products/122.jpg" alt="..." class="card-img-top">
              <img src="https://dan.org.in/assets/img/products/146.jpg" alt="..." class="card-img-top">
            </div>
          </div>
          <div class="flickity-nav mx-n2 mb-10 mb-md-0"
            data-flickity='{"asNavFor": "#productSlider", "contain": true, "wrapAround": false}'>
            <div class="col-12 px-2" style="max-width: 113px;">
              <div class="embed-responsive embed-responsive-1by1 bg-cover"
                style="background-image: url(https://dan.org.in/assets/img/products/7.jpg);"></div>
            </div>
            <div class="col-12 px-2" style="max-width: 113px;">
              <div class="embed-responsive embed-responsive-1by1 bg-cover"
                style="background-image: url(https://dan.org.in/assets/img/products/122.jpg);"></div>
            </div>
            <div class="col-12 px-2" style="max-width: 113px;">
              <div class="embed-responsive embed-responsive-1by1 bg-cover"
                style="background-image: url(https://dan.org.in/assets/img/products/146.jpg);"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

<!-- flickity.2.2.1.pkgd.min.js -->
<script src="https://dan.org.in/assets/lib/flickity/flickity.pkgd.min.js"></script>

</html>