<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Dan</title>

  <!-- Favicons -->
  <link rel="icon" href="https://dan.org.in/assets/img/logo-favicon.svg" />


  <!-- Bootstrap.4.6.0.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/bootstrap/bootstrap.4.6.0.css">
  <!-- dan.min.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/dan/dan.min.css">


  <style>

  </style>
</head>

<body>

  <section class="dan-title-2 py-5">
    <header class="container">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center m-auto">
          <h6 class="heading-xxs mb-3 text-gray-400">
            New Collection
          </h6>
          <h2 class="mb-4">Best Picks</h2>
          <p class="mb-10 text-gray-500">
            Appear, dry there darkness they're seas, dry waters thing fly midst. Beast, above fly brought Very green.
          </p>
        </div>
      </div>
    </header>
  </section>

</body>

</html>