<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Dan</title>

  <!-- Bootstrap.4.6.0.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/bootstrap/bootstrap.4.6.0.css">

  <style>

  </style>
</head>

<body>
  <div class="container">
    <div class="row">

      <div class="col-md-4 m-auto">

        <div class="dan-card-1 card p-5 border">
          <div class="badge badge-dark card-badge card-badge-left text-uppercase">
            Sale
          </div>
          <div class="card-img">
            <a class="card-img-hover" href="#!">
              <img class="card-img-top card-img-back" src="https://dan.org.in/assets/img/products/122.jpg" alt="...">
            </a>
            <div class="card-actions">
              <span class="card-action">
                <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="modal" data-target="#modalProduct">
                  <i class="fe fe-eye"></i>
                </button>
              </span>
              <span class="card-action">
                <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                  <i class="fe fe-shopping-cart"></i>
                </button>
              </span>
              <span class="card-action">
                <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                  <i class="fe fe-heart"></i>
                </button>
              </span>
            </div>
          </div>
          <div class="card-body px-0">
            <div class="font-size-xs">
              <a class="text-muted" href="#!">Shoes</a>
            </div>
            <div class="font-weight-bold">
              <a class="text-body" href="#!">
                Leather Sneakers
              </a>
            </div>
            <div class="font-weight-bold">
              <span class="font-size-xs text-gray-350 text-decoration-line-through">$85.00</span>
              <span class="text-primary">$85.00</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- jquery.3.5.1.js -->
  <script src="https://dan.org.in/assets/lib/jquery/jquery.3.5.1.js"></script>

  <!-- popper.1.16.1.js -->
  <script src="https://dan.org.in/assets/lib/popper/popper.1.16.1.js"></script>

  <!-- Bootstrap.4.6.0.js -->
  <script src="https://dan.org.in/assets/lib/bootstrap/bootstrap.4.6.0.js"></script>

  <script>

  </script>

</body>


</html>