<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Dan</title>

  <!-- Favicons -->
  <link rel="icon" href="https://dan.org.in/assets/img/logo-favicon.svg" />


  <!-- Bootstrap.4.6.0.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/bootstrap/bootstrap.4.6.0.css">
  <!-- dan.min.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/dan/dan.min.css">


  <style>

  </style>
</head>

<body>

  <section class="dan-gallery-1 py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-3"> <img class="img-fluid mb-7"
            src="https://dan.org.in/assets/img/products/116.jpg" alt="..."> <img class="img-fluid mb-7 mb-md-0"
            src="https://dan.org.in/assets/img/products/117.jpg" alt="...">
        </div>
        <div class="col-12 col-md-6 col-lg-3"> <img class="img-fluid mb-7 mt-md-12"
            src="https://dan.org.in/assets/img/products/118.jpg" alt="..."> <img class="img-fluid mb-7 mb-md-0"
            src="https://dan.org.in/assets/img/products/119.jpg" alt="...">
        </div>
        <div class="col-12 col-md-6 col-lg-3"> <img class="img-fluid mb-7"
            src="https://dan.org.in/assets/img/products/116.jpg" alt="..."> <img class="img-fluid mb-7 mb-md-0"
            src="https://dan.org.in/assets/img/products/117.jpg" alt="...">
        </div>
        <div class="col-12 col-md-6 col-lg-3"> <img class="img-fluid mb-7 mt-md-12"
            src="https://dan.org.in/assets/img/products/118.jpg" alt="..."> <img class="img-fluid mb-7 mb-md-0"
            src="https://dan.org.in/assets/img/products/119.jpg" alt="...">
        </div>
      </div>
    </div>
  </section>

</body>

</html>