<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Dan</title>

  <!-- Favicons -->
  <link rel="icon" href="../../assets/img/logo-favicon.svg" />


  <!-- dan.min.css -->
  <link rel="stylesheet" href="../../assets/lib/dan/danui.css">

  <style>

  </style>
</head>

<body>

  <section class="dan-accordion-1">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
          <ul class="list-group list-group-flush-x mb-9" id="dan-accordion-1">
            <li class="list-group-item">
              <a class="dropdown-toggle d-block font-size-lg font-weight-bold text-reset" data-toggle="collapse"
                href="#dan-accordion-1-1">
                1. Bring of had which their whose you're it own?
              </a>
              <div class="collapse" id="dan-accordion-1-1" data-parent="#dan-accordion-1">
                <div class="mt-5">
                  <p class="mb-0 font-size-lg text-gray-500">
                    Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights seasons. Fourth
                    hath rule creepeth own lesser years itself so seed fifth for grass.
                  </p>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <a class="dropdown-toggle d-block font-size-lg font-weight-bold text-reset" data-toggle="collapse"
                href="#dan-accordion-1-2">
                2. Over shall air can't subdue fly divide him?
              </a>
              <div class="collapse" id="dan-accordion-1-2" data-parent="#dan-accordion-1">
                <div class="mt-5">
                  <p class="mb-0 font-size-lg text-gray-500">
                    Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights seasons. Fourth
                    hath rule creepeth own lesser years itself so seed fifth for grass.
                  </p>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <a class="dropdown-toggle d-block font-size-lg font-weight-bold text-reset" data-toggle="collapse"
                href="#dan-accordion-1-3">
                3. Waters one you'll creeping?
              </a>
              <div class="collapse" id="dan-accordion-1-3" data-parent="#dan-accordion-1">
                <div class="mt-5">
                  <p class="mb-0 font-size-lg text-gray-500">
                    Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights seasons. Fourth
                    hath rule creepeth own lesser years itself so seed fifth for grass.
                  </p>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <a class="dropdown-toggle d-block font-size-lg font-weight-bold text-reset" data-toggle="collapse"
                href="#dan-accordion-1-4">
                4. Fowl, given morning seed fruitful kind beast be?
              </a>
              <div class="collapse" id="dan-accordion-1-4" data-parent="#dan-accordion-1">
                <div class="mt-5">
                  <p class="mb-0 font-size-lg text-gray-500">
                    Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights seasons. Fourth
                    hath rule creepeth own lesser years itself so seed fifth for grass.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <!-- jquery.3.5.1.js -->
  <script src="../../assets/lib/jquery/jquery.3.5.1.js"></script>

  <!-- Bootstrap.4.6.0.js -->
  <script src="../../assets/lib/dan/danui.js"></script>

</body>


</html>