<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap.4.6.0.css -->
    <link rel="stylesheet" href="https://drive.google.com/uc?id=1GE5OlsNx1hGvUkvlOsLy7w1DaRtKy-Eg">

</head>

<body>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Navbar</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>


    <!-- jquery.3.5.1.js -->
    <script src="https://drive.google.com/uc?id=1OK59C-R8MyNtawYe7vU6dzMc2MBSUUVG"></script>

    <!-- popper.1.16.1.js -->
    <script src="https://drive.google.com/uc?id=1En6CGtu3nnJmqbhJp5xQPqvhLcnBxFGq"></script>

    <!-- Bootstrap.4.6.0.js -->
    <script src="https://drive.google.com/uc?id=1eddwFYe_hgyvBqhmHutei6Je5To7ndFS"></script>

</body>

</html>