<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Dan</title>

  <!-- Favicons -->
  <link rel="icon" href="https://dan.org.in/assets/img/logo-favicon.svg" />


  <!-- Bootstrap.4.6.0.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/bootstrap/bootstrap.4.6.0.css">
  <!-- dan.min.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/dan/dan.min.css">


  <style>

  </style>
</head>

<body>

  <section class="dan-countdown-1 py-15 my-5 bg-cover"
    style="background-image: url(https://dan.org.in/assets/img/covers/4.jpg)">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-12 col-md-8 col-lg-6">
          <h3 class="mb-7">
            Get -50% from <br />Summer Collection
          </h3>
          <div class="d-flex mb-9" data-countdown data-date="Jan 5, 2025 15:37:25">
            <div class="text-center">
              <div class="font-size-h1 font-weight-bolder text-primary" data-days>00</div>
              <div class="heading-xxs text-muted">Days</div>
            </div>
            <div class="px-1 px-md-4">
              <div class="font-size-h2 font-weight-bolder text-primary">:</div>
            </div>
            <div class="text-center">
              <div class="font-size-h1 font-weight-bolder text-primary" data-hours>00</div>
              <div class="heading-xxs text-muted">Hours</div>
            </div>
            <div class="px-1 px-md-4">
              <div class="font-size-h2 font-weight-bolder text-primary">:</div>
            </div>
            <div class="text-center">
              <div class="font-size-h1 font-weight-bolder text-primary" data-minutes>00</div>
              <div class="heading-xxs text-muted">Minutes</div>
            </div>
            <div class="px-1 px-md-4">
              <div class="font-size-h2 font-weight-bolder text-primary">:</div>
            </div>
            <div class="text-center">
              <div class="font-size-h1 font-weight-bolder text-primary" data-seconds>00</div>
              <div class="heading-xxs text-muted">Seconds</div>
            </div>
          </div>
          <a class="btn btn-dark" href="#">
            Shop Now <i class="fe fe-arrow-right ml-2"></i>
          </a>
        </div>
      </div>
    </div>
  </section>

</body>

</html>