<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Dan</title>

  <!-- Favicons -->
  <link rel="icon" href="https://dan.org.in/assets/img/logo-favicon.svg" />


  <!-- Bootstrap.4.6.0.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/bootstrap/bootstrap.4.6.0.css">
  <!-- dan.min.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/dan/dan.min.css">


  <style>

  </style>
</head>

<body>

  <section class="dan-countdown-1 bg-cover" style="background-image: url(https://dan.org.in/assets/img/covers/22.jpg)">
    <div class="container d-flex flex-column">
      <div class="row align-items-center justify-content-center min-vh-100 pt-13 pb-12">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center text-white">
          <h1>We are Coming Soon</h1>
          <p class="mb-9 font-size-lg">
            Our team have been working on somesing amazing.
          </p>
          <div class="d-flex justify-content-center mb-10" data-countdown data-date="Jan 5, 2024 15:37:25">
            <div class="text-center">
              <div class="font-size-h1 font-weight-bolder" data-days>00</div>
              <div class="heading-xxs">Days</div>
            </div>
            <div class="px-1 px-md-4">
              <div class="font-size-h2 font-weight-bolder">:</div>
            </div>
            <div class="text-center">
              <div class="font-size-h1 font-weight-bolder" data-hours>00</div>
              <div class="heading-xxs">Hours</div>
            </div>
            <div class="px-1 px-md-4">
              <div class="font-size-h2 font-weight-bolder">:</div>
            </div>
            <div class="text-center">
              <div class="font-size-h1 font-weight-bolder" data-minutes>00</div>
              <div class="heading-xxs">Minutes</div>
            </div>
            <div class="px-1 px-md-4">
              <div class="font-size-h2 font-weight-bolder">:</div>
            </div>
            <div class="text-center">
              <div class="font-size-h1 font-weight-bolder" data-seconds>00</div>
              <div class="heading-xxs">Seconds</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>