<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Dan</title>

  <!-- Favicons -->
  <link rel="icon" href="https://dan.org.in/assets/img/logo-favicon.svg" />


  <!-- Bootstrap.4.6.0.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/bootstrap/bootstrap.4.6.0.css">
  <!-- dan.min.css -->
  <link rel="stylesheet" href="https://dan.org.in/assets/lib/dan/dan.min.css">


  <style>

  </style>
</head>

<body>

  <section class="dan-icon-1 py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <a class="btn btn-facebook mr-3 mb-3" href="#!">
            <i class="fab fa-facebook-f mr-2"></i> Share on Facebook
          </a>
          <a class="btn btn-twitter mr-3 mb-3" href="#!">
            <i class="fab fa-twitter mr-2"></i> Share on Twitter
          </a>
          <a class="btn btn-pinterest mr-3 mb-3" href="#!">
            <i class="fab fa-pinterest-p mr-2"></i> Share on Pinterest
          </a>
          <a class="btn btn-linkedin mr-3 mb-3" href="#!">
            <i class="fab fa-linkedin-in mr-2"></i> Share on LinkedIn
          </a>
        </div>
      </div>
    </div>
  </section>

</body>

</html>